* {
    box-sizing: border-box;
}

:root {
    --primary-color: #e2eddf;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
/* =============================COMMON==================================== */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;
    display: inline-block;
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    min-width: 173px;
    background-color: #143c3c;
    border: 1.5px solid #143c3c;
    border-radius: 999px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    position: relative;
    font-size: 4.2rem;
    line-height: 1.23;
    font-weight: 600;
    color: #152427;
}

.section-heading::after {
    content: "";
    position: absolute;
    bottom: 19px;
    right: 0;
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: #152427;
}

.section-desc {
    --font-size-default: 1.4rem;
    font-size: var(--font-size-default);
    line-height: 1.6;
    font-weight: 500;
    color: #7d8188;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.section-text {
    position: relative;
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 500;
    color: #152427;
    padding-left: 46px;
}

.section-text::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #152427;
}
/* =============================HEADER==================================== */
.header {
    margin-top: 20px;
    font-family: "Public Sans", sans-serif;
}

.header-top {
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid;
    border-image: linear-gradient(
            90deg,
            #fff,
            #dddcdc 51.25%,
            rgba(212, 212, 212, 0)
        )
        1;
}

.header-top__Logo {
    width: 48%;
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.header-top__text {
    font-weight: 500;
}

.header-top__list {
    display: flex;
}

.header-top__link {
    position: relative;
    padding: 0 19px;
    font-size: 1.8rem;
    line-height: 1.55;
    font-weight: 500;
    color: #575d5e;
    transition: 0.25s;
}

.header-top__link:hover {
    color: #152427;
}

.header-top__link.active {
    color: #152427;
}
.header-top__link.active::after {
    position: absolute;
    bottom: -25px;
    left: 20px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: #143c3c;
}
.header-top__btn {
    margin-left: auto;
}

/* hero */
.hero {
    padding: 60px 0;
    display: flex;
    position: relative;
}

.hero__floating {
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
}

.hero__floating-2 {
    rotate: 180deg;
    position: absolute;
    bottom: 15px;
    right: 100px;
}

.hero__floating-position {
    position: relative;
}

.position-flower {
    position: absolute;
    top: 1px;
    left: -46px;
}

.hero__content {
    margin-top: 43px;
    width: 34%;
    flex-shrink: 0;
}

.hero__heading {
    max-width: 368px;
    font-size: 5rem;
    line-height: 1.2;
    font-weight: 800;
    color: #152427;
}

.hero__desc {
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.55;
    font-weight: 500;
    color: #575d5e;
}

.hero__row {
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watch-video {
    display: flex;
    align-items: center;
}

.watch-video__btn {
    flex-shrink: 0;
    margin-left: -22px;
    width: 44px;
    height: 44px;
    background-color: #83a17d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}

.hero__text {
    margin-left: 15px;
    font-size: 1.8rem;
    line-height: 1.66;
    font-weight: 600;
    font-family: Poppins;
    color: #152427;
}

.hero__media {
    display: flex;
    margin-left: 76px;
    column-gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 999px;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}
/* =============================PARTNERS==================================== */
.partners {
    margin-top: 42px;
}

.partners__list {
    padding: 76px 121px;
    background-color: var(--primary-color);
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partners__item {
    display: flex;
    align-items: center;
}

.partners__icon {
    margin-right: 10px;
}

.partners__text {
    font-size: 3.2rem;
    font-weight: 600;
    color: #143c3c;
}

.partners__text--rio {
    font-family: "Sonsie One", sans-serif;
    font-size: 2.3rem;
}

.partners__text--spacing {
    font-size: 19px;
    letter-spacing: 0.11em;
}

.partners__text--nw {
    font-weight: normal;
}

.partners__text--w500 {
    font-weight: 500;
}
/* =============================SERVICE==================================== */
.service {
    margin-top: 53px;
    padding: 53px 0;
}

.service__row {
    display: flex;
    justify-content: space-between;
}

.service__text::before {
    top: 6px;
    transform: none;
}

.service__heading {
    width: 520px;
}

.service__heading::after {
    right: 103px;
}

.service__controls {
    display: flex;
    column-gap: 17px;
    align-items: end;
}

.service__controls-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    background: var(--primary-color);
    color: #152427;
    transition: 0.25s;
    border: none;
}

.service__controls-btn:last-child {
    transform: rotate(180deg);
}

.service__controls-btn:hover {
    cursor: pointer;
    background-color: #143c3c;
    color: #fff;
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-item {
    border-radius: 20px;
    overflow: hidden;
    transition: 0.25s;
}

.service-item:hover {
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item__image {
    display: block;
    height: 318px;
    overflow: hidden;
}

.service-item:hover .service-item__thumb {
    transform: scale(1.1);
}

.service-item__thumb {
    transition: 0.25s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-item__info {
    padding: 24px 18px;
}

.service-item__heading {
    font-size: 2.2rem;
    line-height: 1;
    font-weight: 600;
    color: #152427;
}

.service-item__desc {
    margin-top: 18px;
}

/* =============================ABOUT==================================== */
.about {
    margin-top: 104px;
    padding: 53px 0;
}

.about__inner {
    display: flex;
}

.about__left {
    width: 52%;
    position: relative;
}

.about__floating {
    top: -6px;
}

.about__floating-position {
    position: relative;
}

.about__position-flower {
    position: absolute;
    top: -40px;
    left: -40px;
}

.about__image {
    display: flex;
    column-gap: 21px;
}

.about__img {
    flex-shrink: 0;
    display: block;
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 999px;
}

.about__img:first-child {
    margin-top: 77px;
}

.about__info {
    display: flex;
    flex-direction: column;
    padding: 19px 23px 11px;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 143px;
    background-color: #fff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
    transition: 0.25s;
}

.about__info:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.about__info-title {
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 600;
    font-family: "Public Sans";
    color: #152427;
}

.about__info-text {
    font-size: 1rem;
    line-height: 1.4;
    font-family: "Public Sans";
    color: #152427;
    font-weight: 500;
}

.about__info-text--total {
    color: #575d5e;
    margin-top: 6px;
    font-weight: normal;
    opacity: 0.4;
}

.about__info-text--mt {
    margin-top: 10px;
}

.about__rectangle {
    position: relative;
    margin: 3px 0;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #eaeaea;
}

.about__rectangle::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    left: 0;
    display: inline-block;
    width: 40%;
    height: 2px;
    background: #83a17d;
}

.about__info-text--position {
    text-align: end;
}

.about__info-round {
    position: relative;
    font-size: 1rem;
    margin: 0.5em 0;
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    background-color: #eaeaea;
}

.about__info-round::before {
    position: absolute;
    inset: 0;
    margin: auto;
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #143c3c;
}

.about__info-row {
    display: flex;
    justify-content: space-between;
}

.about__info-avatars {
    display: flex;
}

.about__info-avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-left: -6px;
}

.about__info-avatar:first-child {
    margin-left: 0;
}

.about__content {
    width: 48%;
    flex-shrink: 0;
    padding-left: 64px;
}

.about__heading {
    margin-top: 20px;
}

.about__heading::after {
    display: none;
}

.about__desc {
    margin-top: 11px;
    --font-size-default: 1.6rem;
}

.about__row-text {
    margin-top: 36px;
    display: flex;
    column-gap: 24px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.about__row-percent {
    font-size: 4.2rem;
    line-height: 1.23;
    font-weight: 600;
    color: #152427;
}

.about__row-desc {
    padding-right: 7px;
}
/* =============================PROCESS==================================== */
.process {
    margin-top: 79px;
}

.process__heading {
    margin-top: 20px;
    width: 477px;
}

.process__row {
    display: flex;
    align-items: center;
}
.process__row2 {
    margin-top: 46px;
    position: relative;
    padding-bottom: 25px;
}
.process__row2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process__row-position {
    position: relative;
    background-color: #e2eddf;
    margin-top: 81px;
    border-radius: 33px;
    padding: 57px 30px 54px;
}

.process__number {
    font-size: 7.2rem;
    line-height: 1.38;
    font-weight: 600;
    color: #143c3c;
    margin-right: 64px;
}

.process__sub-title {
    font-size: 2.2rem;
    font-weight: 600;
    color: #152427;
}

.process__link {
    margin-top: 22px;
    display: inline-block;
    font-size: 1.8rem;
    color: #575d5e;
    text-decoration: underline;
}

.process__img {
    position: absolute;
    right: 92px;
    bottom: 0;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

.process__desc {
    --font-size-default: 1.8rem;
    margin-left: auto;
    width: 572px;
}
